/* For examples from Javascript.info tutorial */
div.scratch {
    padding: 30px;
    margin: 40px;
    border: 10px solid gray;
    position: relative;
}

#field,
#field2,
#fieldClick {
    width: 200px;
    border: 10px groove black;
    background-color: #00ff00;
    position: relative;
}

#ball,
#ballClick {
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s all;
}

.note {
    position: fixed;
    z-index: 1000;
    padding: 5px;
    border: 1px solid black;
    background: white;
    text-align: center;
    font: italic 14px Georgia;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 0 0 0 100px;
    padding: .5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    display: inline-block;
    white-space: pre;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

.menu ul {
    display: none;
    list-style: none;
}

.menu .title {
    font-size: 18px;
    cursor: pointer;
}

.menu .expanded,
.menu .collapsed {
    cursor: pointer;
}

.menu.open ul {
    display: block;
}

.menu .collapsed {
    display: inline-block;
}

.menu .expanded {
    display: none;
}

.menu.open .collapsed {
    display: none;
}

.menu.open .expanded {
    display: inline-block;
}

.pane,
.pane2 {
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
    position: relative;
}

.remove-button,
.remove-button2 {
    background: transparent;
    border: none;
    color: darkred;
    cursor: pointer;
    display: block;
    font-size: 100%;
    height: 24px;
    position: absolute;
    right: 12px;
    top: 0;
    width: 24px;
}

.arrow {
    font-size: 18px;
    background-color: gray;
    color: black;
    border-radius: 100%;
    display: inline-block;
}

.carousel {
    display: inline-flex;
    align-items: center;
    background-color: #eee;
    border-radius: 8px;
    border: 1px solid grey;
    padding: 16px;
}

.gallery {
    overflow: hidden;
}

.gallery li {
    display: inline-block;
}

.gallery ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0;
    transition: 1s all;
}

#grid {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 4px;
}

th {
    cursor: pointer;
}

th:hover {
    background: yellow;
}

.tooltip {
    /* some styles for the tooltip, you can use your own instead */
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 arial, sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.selected {
    background: #0f0;
}

li {
    cursor: pointer;
}

#house {
    margin-top: 50px;
    width: 400px;
    border: 1px solid brown;
    display: inline-block;
}

#roof {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 20px solid brown;
    margin-top: -20px;
}

p {
    text-align: justify;
    margin: 10px 3px;
}

.dragspace {
    width: 100%;
    height: 200px;
    border: 1px solid gray;
}

.slider {
    border-radius: 5px;
    background: #e0e0e0;
    background: linear-gradient(left top, #e0e0e0, #eeeeee);
    width: 310px;
    height: 15px;
    margin: 5px;
}

.thumb {
    width: 10px;
    height: 25px;
    border-radius: 3px;
    position: relative;
    left: 10px;
    top: -5px;
    background: blue;
    cursor: pointer;
}

#herofield {
    background: url(https://en.js.cx/task/drag-heroes/solution/field.svg);
    width: 800px;
    height: 500px;
    float: left;
}

/* heroes and the ball (dragables) */

.hero {
    background: url(https://js.cx/drag-heroes/heroes.png);
    width: 130px;
    height: 128px;
    float: left;
}

#hero1 {
    background-position: 0 0;
}

#hero2 {
    background-position: 0 -128px;
}

#hero3 {
    background-position: -120px 0;
}

#hero4 {
    background-position: -125px -128px;
}

#hero5 {
    background-position: -248px -128px;
}

#hero6 {
    background-position: -244px 0;
}

.draggable {
    cursor: pointer;
}

#matrix {
    width: 400px;
    height: 300px;
    display: inline-block;
    padding: 0 40px;
    overflow: auto;
    text-align: justify;
    position: relative;
}

#arrowTop {
    height: 20px;
    width: 14px;
    color: green;
    top: 10px;
    left: 10px;
    cursor: pointer;
    visibility: hidden;
    display: inline-block;
    vertical-align: top;
}

#arrowTop::before {
    content: '▲';
}

.matrixcontainer {
    margin: auto;
}

:focus {
    outline: 1px dashed green;
}

.view {
    border: 1px solid black;
    width: 400px;
    height: 200px;
}

form table td {
    border: none;
}

form td {
    width: 200px;
    text-align: right;
}

#diagram td select,
#diagram td input {
    text-align: left;
    width: 150px;
}

#diagram {
    padding: 20px;
    margin-top: 50px;
    margin-left: 10%;
}

#diagram td {
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
    border: none;
}

#diagram th {
    border: none;
}

#diagram div {
    margin: auto;
}

#prompt-form {
    border: 1px solid black;
    margin: auto;
    width: 200px;
    padding: 20px;
    background-color: white;
}

#prompt-form input[type='text'] {
    display: block;
}

.prompt-form-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.semitransparent {
    position: fixed;
    background-color: gray;
    opacity: 0.3;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#flyjet {
    transition: all 3s;
    width: 40px;
    height: 24px;
}

#flyjet.growing {
    width: 400px;
    height: 240px;
}

.circle {
    height: 0;
    width: 0;
    transition: 3s all;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

#circleExample,
#circleExampleCallback,
#circleExamplePromise {
    position: relative;
    height: 300px;
}

.circleMessage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#githubProfile {
    margin: 20px;
    display: block;
    width: 400px;
    display: flex;
    flex-direction: column;
}

#githubAvatar {
    height: auto;
    width: 400px;
}

#githubProfileFields {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 1em;
}
